.diaper-chart {
  font-size: $font-size--xsmall;

  &__custom-tooltip {
    background: rgba(white, 0.8);
    border: 1px solid $color-primary--xlight;
    padding: $space--xs;

    &__content {
      @extend %flex-center-row;
      justify-content: space-between;

      &__name,
      &__value {
        padding: $space--xs;
      }
    }
  }
}