.custom-date-time-picker {
  @extend %flex-center-row;
  justify-content: space-between;
  border: 1px solid $color-primary;
  border-radius: $space--xs;
  margin-bottom: $space--md;
  overflow: hidden;

  &__display {
    @extend %flex-center-row;
    padding: $space--sm;
    background: $color-primary;
    color: $color-primary--text-contrast;

    &__date,
    &__time {
      padding: $space--xs;
    }
  }
  
  &__picker-button,
  &__now-button {
    @extend %button;
    border-radius: 0;
    font-size: $font-size--medium;
    padding: $space--sm;
  }

  &__picker-button {
    flex: 1;

    &:hover {
      background: $color-primary--xxlight;
    }

    &__date,
    &__time {
      padding: $space--xs;
    }
  }

  &__now-button {
    align-self: stretch;
    background: $color-primary;
    color: $color-primary--text-contrast;

    &:hover {
      background: $color-primary--light;
    }
  }

  &__date-picker,
  &__time-picker {
    padding: $space--sm;

    &__header {
      @extend %flex-center-column;
      align-items: flex-start;

      &__title {
        font-size: $font-size--small;
      }
    }
  }

  &__date-picker {
    &__header {
      &__month-select {
        @extend %flex-center-row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: $space--md;
  
        &__month {
          font-size: $font-size--large;
          font-weight: $font-weight--bold;
        }
  
        &__button {
          @extend %button;
          border-radius: 100%;
          width: 2.5rem;
          height: 2.5rem;
          margin: $space--xs;

          svg {
            fill: $color-primary--dark;
          }
        }
      }
    }

    &__calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 2px;
      align-items: center;
      justify-items: center;

      &__weekday {
        font-size: $font-size--small;
      }

      &__day {
        @extend %button;
        padding: 0.6rem;
        width: 100%;

        &.prevMonth,
        &.nextMonth {
          color: $color-grey;

          &:hover {
            background: $color-grey--xlight;
          }
        }

        &.selected {
          background: $color-primary;
          color: $color-primary--text-contrast;
        }

        &:disabled {
          background: $color-grey--light;

        }
      }
    }
  }

  &__time-picker {
    &__spinner {
      @extend %flex-center-row;
      align-items: baseline;

      &__hour,
      &__minute {
        font-size: $font-size--large;
        height: 3rem;
        width: 150%;
        overflow-y: auto;

        list-style: none;
        padding: 0;
        margin: 0;

        scroll-snap-type: y mandatory;

        &-wrapper {
          overflow: hidden;
          width: 4rem;
        }

        li {
          @extend %flex-center-column;
          height: 100%;
          scroll-snap-align: center;
        }
      }
    }

    &__time-label {
      font-size: $font-size--xsmall;
    }
  }

  &__buttons {
    @extend %flex-center-row;

    &__button--cancel,
    &__button--confirm {
      @extend %button--primary;
      flex: 1;
      border-radius: 0;
      font-size: $font-size--small;
    }

    &__button--cancel {
      background: $color-grey--light;
      color: $color-grey--xdark;

      &:hover {
        background: $color-grey;
      }
    }
  }
}

// .custom-date-time-picker {
//   @extend %flex-center-row;

//   border: 1px solid $color-primary;
//   border-radius: $space--xs;
//   margin: $space--md 0;
  
//   div,
//   fieldset {
//     border: none;
//     flex: 1;
//   }

//   input {
//     font-size: $font-size--large;
//     padding: $space--sm;
//     text-align: center;
//   }

//   &__button {
//     align-self: stretch;
//     justify-self: stretch;
//     background: $color-primary;
//     color: white;
//     border: none;
//     outline: none;
//     padding: $space--md;
//     font-size: $font-size--medium;
//     cursor: pointer;

//     &:hover {
//       background: $color-primary--light;
//     }
//   }
// }