.custom-selector {
  @extend %flex-center-row;

  &__option {
    @extend %flex-center-column;
    margin: $space--sm;
    width: 5rem;
    height: 5rem;
    position: relative;
    cursor: pointer;

    input {
      display: none;

      &:hover + .custom-selector__option__bg {
        background: $color-primary--xlight;
      }

      &:checked + .custom-selector__option__bg {
        background: $color-primary;
      }

      &:checked ~ .custom-selector__option__icon {
        height: 50%;
        width: 50%;
      }

      &:checked ~ .custom-selector__option__title {
        width: auto;
        height: auto;
      }
    }

    &__bg {
      position: absolute;
      background: $color-grey--light;
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
    
    &__icon {
      width: 80%;
      height: 80%;
      z-index: 2;
    }
    
    &__title {
      font-size: $font-size--small;
      width: 0;
      height: 0;
      color: white;
      overflow: hidden;
      z-index: 2;
    }
    
    &.small {
      width: 4rem;
      height: 4rem;
  
      .custom-selector__option__title {
        font-size: $font-size--xsmall;
      }
    }

  }
}