.main-header {
  @extend %flex-center-row;
  background: $color-primary;
  color: white;
  width: 100%;
  padding: $space--sm;
}

.baby-info {
  @extend %flex-center-row;
  justify-content: space-between;
  flex: 1;
}

.baby-name {
  font-size: $font-size--large;
}

.baby-age {
  font-size: $font-size--small;
}