.number-input {
  @extend %flex-center-row;
  justify-content: space-between;
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: $space--xs;
  overflow: hidden;

  &-container {
    margin-bottom: $space--sm;

    &.label-align--row {
      @extend %flex-center-row;

      label {
        margin-right: $space--sm;
        width: 5.5rem;
      }
    }

    &.label-align--column {
      @extend %flex-center-column;
      align-items: flex-start;
    }
  }

  &__button {
    align-self: stretch;
    background: $color-primary;
    color: white;
    border: none;
    outline: none;
    padding: $space--sm;
    cursor: pointer;

    &:hover {
      background: $color-primary--light;
    }
  }

  &__value {
    flex: 1;
    font-size: $font-size--large;
    text-align: center;
    padding: $space--sm;
  } 
}