.new-baby-dialog {
  @extend %flex-center-column;
  width: 100%;

  &__title {
    width: 100%;

    h3 {
      padding: $space--md;
      padding-bottom: $space--xs;
    }
  }

  &__form {
    background: white;
    padding: $space--sm;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: $space--xs;
    align-items: center;

    &__input {
      @extend %input;
    }
  }
}