.new-baby-dialog {
  @extend %flex-center-column;

  &__title {
    width: 100%;

    h3 {
      padding: $space-md;
      padding-bottom: $space-xs;
    }
  }

  &__form {
    @extend %flex-center-column;
    background: white;
    padding: $space-sm;
    display: grid;
    grid-template-columns: 1fr 2fr;

    &__input {
      @extend %input;
    }
  }

  &__buttons {
    @extend %flex-center-row;
    width: 100%;

    button {
      flex: 1;
      cursor: pointer;
      border: none;
      outline: none;
      font-size: $font-size-medium;
      padding: $space-sm;
    }
    
    &__confirm {
      background: $color-primary;
      color: white;

      &:hover {
        background: $color-primary-dark;
      }
    }

    &__cancel {
      background: $color-primary-xlight;
      color: $color-primary-xdark;

      &:hover {
        background: $color-primary-light;
        color: white;
      }
    }
  }
}