.charts {
  @extend %flex-center-column;
  width: 100%;
  overflow: auto;

  &__tabs {
    @extend %flex-center-row;
    align-items: stretch;
    background: $color-primary--xxlight;
    width: 100%;

    &__tab {
      @extend %button;
      @extend %flex-center-column;
      flex: 1;
      background: $color-primary--xlight;
      color: $color-primary--text-contrast;
      border-radius: 0;
      padding: $space--sm;
      cursor: pointer;

      svg {
        width: 2rem;
        height: 2rem;
      }
      
      &__label {
        width: 0;
        height: 0;
        overflow: hidden;
      }
  
      &--active {
        @extend .charts__tabs__tab;
        background: $color-primary--light !important;
  
        .charts__tabs__tab__label {
          width: auto;
          height: auto;
        }
      }
    }
  }

  &__content {
    @extend %flex-center-column;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .react-swipeable-view-container {
      width: 100%;
    }
  }
}